* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
    width: 100%;
}

.option-image {
    margin: 0.5rem auto;
    padding: 0.5rem;
    height: 20rem;
    width: 100%;

}

.option-title {
    padding: 0.5rem;
    width: 100%;
    margin: 0.5rem auto;
}

.option-button {
    font-weight: bold;
    background-color: red;
    font-size: 1rem;
    padding: 1rem;
    width: 100%;
    border-radius: 0.5rem;

}

.option-button:hover {
    color: white;
    background-color: #555;
    cursor: pointer;
    transition: all ease 0.3s;
}