.estacionaaqui-option-button {
    background: none;
    border: none;
    color: blue;
    font-size: 1.1rem;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
}

.estacionaaqui-option-button:hover {
    color: #444;
    cursor: pointer;
}