.estacionaqui-section-container {
    padding: 3rem;
}

.pagination-container {
    padding: 1rem;
}

.pagination-button {
    border: none;
    background: none;
    color: blue;
    font-size: 2rem;
}

.pagination-button:hover {
    cursor: pointer;
    color: black;
}

.pagination-text {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0 1rem;
}

.estacionaqui-relatorio-allcarros {
    background-color: #ee6e73;
    padding: 1rem;
    border-radius: 1rem;
    margin: 3rem auto;
}

.estacionaqui-relatorio-label {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.5rem auto;
    padding: 1rem;
}

.estacionaqui-relatorio-button {
    width: 50%;
}